.body-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 30px 10px;
  width: 50%;
  gap: 30px;
  background-color: rgb(142, 153, 119);
}

.item-container {
  display: flex;
    align-items: start;
    flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}